:root{
    --color1 :#484848;
    --color2 :#839CB5;
    --color3 :#96D7EB;
    --color4 :#B1E1E9;
    --color5 :#F2E4F9;
    --color7 :#ed48ed;
    
}
* , ::after , ::before{
    box-sizing: border-box;
}
/*@keyframes sert à définir une animation qui sera utilisée par une règle @keyframes.*/
@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rgbboxshadow {
    0% {
        box-shadow: 0 4px 8px  var(--color1,0.4);
    }
    20% {
        box-shadow: 0 4px 8px  var(--color2,0.4);
    }
    40% {
        box-shadow: 0 4px 8px  var(--color3,0.4);
    }
    60% {
        box-shadow: 0 4px 8px  var(--color4,0.4);
    }
    80%{
        box-shadow: 0 4px 8px  var(--color5,0.4);
    }
    100% {
        box-shadow: 0 4px 8px  var(--color7, 0.4);
    }
}
header {
    height: auto;
    background-image: url(../Images/banniere.webp);
    background-position: 50% 5% ;
    background-size: cover;
    animation: fadeInDown 1s ease-in-out;
    @media screen and (max-width: 768px) {
        background-position: 50% 0%;
       }
       @media screen and (max-width: 480px) {
        background-position: 50% 0%;
       }
    
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
  
    &__toggle {
        display: none;
        color: var(--color1);
        border-radius: 10%;
        background-color: var(--color7);
        opacity: 0.8;
        font-size: 2rem;
        cursor: pointer;
        animation: shake 0.5s ease-in-out;
    
        
    }
    &__container {
        display: flex;
        flex-direction: row;
        opacity: 1;
        visibility: visible;
    }
    &__logo {
        display: flex;
        align-items: center;
        color: #fff;
    
        img {
            width: auto;
            max-height: 5rem;
        }
    }
    &__item {
        position: relative;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        text-shadow: 5px 5px 20px var(--color7);
        
        
        a {
            
            position: relative;
            color: var(--color5);
            text-decoration: none;
           
    
            &:hover {
              
                cursor: pointer;
                color: var(--color3);
                text-decoration: underline;
                transition: color 0.3s ease;
                -webkit-transition: color 0.3s ease;
                -moz-transition: color 0.3s ease;
                -ms-transition: color 0.3s ease;
                -o-transition: color 0.3s ease;
               
    }
    
            &::before {
                content: "";
                margin-right: 0.5rem;
            }
        }
    }
}







// Styles pour mobile et tablette
@media screen and (max-width: 56em) {
    .navbar__toggle {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left :1rem;
}

    .navbar {
        flex-direction: column;

        &__container {
            flex-direction: column;
            gap: 1rem;
            justify-content: space-between;
            align-items: flex-start; 
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            transition: opacity 0.3s ease, max-height 1s ease;
            &.active {
                visibility: visible;
                opacity: 1;
                max-height: 20rem; 
            }
        }
    
    }
  .burger {
        display: block;
    }
}

.Logo {
    margin: 1rem;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 80vh;

    /*pseudo element pour le background*/
    /* peuso element sert a ajouter du contenu avant ou apres un element selectionné*/
    &::before {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-image: url(../Images/banniere.webp);
       background-position: 50% 19%;
       background-size: cover;
       z-index: -1;
    }

       
    &__content {
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        border: 2px solid var(--color1);
        animation: rgbboxshadow 15s infinite;
        -webkit-animation: rgbboxshadow 15s infinite;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
    &__img {
        flex: 1;
        padding: 20px;
        
        &--content {
            width: 100%;
            height: auto;
            border-radius: 10px; 
        }
    }
    &__info {
        font-family: 'Playfair Display', serif;
        flex: 2;
        padding: 20px;
        text-align: left;

        &--title {
            font-size: 3rem;
            margin-bottom: 10px;

            &--name {
                color: #007bff; 
            }
        }

        &--subtitle {
            font-size: 1.5rem;
            color: #333; 
            margin-bottom: 20px;
            font-style: italic;
        }

        &--text {
            font-family: 'Schibsted Grotesk', sans-serif;
            font-size: 1.5rem;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    
        &__contact {
            justify-content: center;
            align-items: center;
            p {
                font-family: 'Schibsted Grotesk', sans-serif;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                font-size: 1rem;
                a{ 
                    //ajouter l'animation shake au lien
                    color: #000;
                    text-decoration: none;
                    font-weight: 700;
                    transition: color 0.3s ease;
                    -webkit-transition: color 0.3s ease;
                    -moz-transition: color 0.3s ease;
                    -ms-transition: color 0.3s ease;
                    -o-transition: color 0.3s ease;
                    &:hover {                    
                    animation: shake 0.5s ease-in-out;
                    color: var(--color3);
                    }
                }
                i {
                    font-size: 2rem;
                    margin-right: 10px;
                }
            }
        }
    }
           //format tablette et smartphone
    @media screen and (max-width: 768px) {

    
        background-position: center;
        background-image: url(../Images//galaxyprog.png);
        height: auto;
        padding-bottom: 2rem;
        &__content{
            flex-direction: column;
        }
        &__img{
            padding: 0;
        }
        &__info{
            padding: 0;
        }
        &__info{
            padding:1rem;
        }

       }
       @media screen and (max-width: 480px) {
        height:auto;
        background-position: 50% 5%;
       }
   

}



.about {
    font-family: 'Playfair Display', serif;
    display: flex;
    background-color: #f5f5f5;
    gap:2rem;
    justify-content: center;
    align-items: center;
   

    &__content {
       
        margin-left:15%;
        width: 50%;
        &--project {
            display: flex;
            width:50%;
            justify-content: space-evenly;
        
            
            i {
                align-items: center;
                font-size: 2rem;
            }
    
            p {
               
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 1rem;
            }
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    &__text {
        font-family: 'Schibsted Grotesk', sans-serif;
        width: 70%;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 3rem;
        &--link{
            color: #000;
            text-decoration: none;
            font-weight: 700;
            transition: color 0.3s ease;
            -webkit-transition: color 0.3s ease;
            -moz-transition: color 0.3s ease;
            -ms-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            &:hover {                    
            animation: shake 0.5s ease-in-out;
            color: var(--color3);
            }
        }
    }

   

    .about__langage {
        width: 50%;
        margin-right:15%;

        p {
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 1rem;
        }

        .about__langage--content--html--line,
        .about__langage--content--css--line,
        .about__langage--content--js--line,
        .about__langage--content--react--line,
        .about__langage--content--php--line,
        .about__langage--content--sql--line {
            width: 60%;
            height: 20px; // Hauteur de la barre de progression
            background-color: #f5f5f5; // Couleur de fond de la barre
            border: 1px solid #000; 
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative; 
            border-radius: 10px; 

        }

        /*:after est le pseudo élément pour la progress bar*/
        .about__langage--content--html--line:after,
.about__langage--content--css--line:after,
.about__langage--content--js--line:after,
.about__langage--content--react--line:after,
.about__langage--content--php--line:after,
.about__langage--content--sql--line:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    height: 19px;
    border-radius: 10px;
    background: linear-gradient(-45deg, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5));
    background-size: 200% 200%;
    animation: animatedGradient 8s ease infinite;
    -webkit-animation: animatedGradient 8s ease infinite;
}

        .about__langage--content--html--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 90%;
            border-radius: 10px;
}

        .about__langage--content--css--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 80%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

        }

        .about__langage--content--js--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 75%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .about__langage--content--react--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 75%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .about__langage--content--php--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 70%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .about__langage--content--sql--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 80%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}
.timeline__title
{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color1);
    margin-bottom: 20px;
    text-align: center;
   padding: 1rem;
    
}
.timeline__cardTitle
    {
        font-family: 'Playfair Display', serif;
    }
    .timeline__cardSubtitle
    {
        font-family: 'Schibsted Grotesk', sans-serif;
    }
    .timeline__cardDetailedText
    {
        font-family: 'Schibsted Grotesk', sans-serif;
    }

.footer
{
   position: sticky;
   bottom: 0;
   display: flex;
    justify-content: space-between;
    background-color: #484848;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    }


.reserved
{
    background-color: #484848;
    color: #fff;
    text-align:end;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
    
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color5);
   min-height: auto;

    &__location {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        margin-right: 20px;
        gap: 1rem;
        height: 100%;

        iframe {
            width: 80%;
            height: 19rem;
            border-radius: 10px;
            border: none;
        }

        &--title {
            font-size: 2rem;
            font-weight: 700;
            color: var(--color1);
            margin-top: 20px;
        }

        &--info {
            p {
                font-weight: 700;
                color: var(--color2);
                margin: 5px 0;
            }
            
        }
        &--social{
            padding: 1rem;
            display: flex;
            justify-content: space-around;
            i{
                font-size: 2rem;
                color: var(--color1);
                transition: color 0.3s ease;
                -webkit-transition: color 0.3s ease;
                -moz-transition: color 0.3s ease;
                -ms-transition: color 0.3s ease;
                -o-transition: color 0.3s ease;
                &:hover {                    
                animation: shake 0.5s ease-in-out;
                color: var(--color3);
                }
            }
        }
        .coder {
            width: 18rem;
            height: 20rem;
        }
    }

    &__form {
        flex: 1;
        max-width: 600px;
        background-color: var(--color4);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        .error
        {
            color: red;
            font-size: 1rem;
            font-weight: 500;
            margin-top: 1rem;
        }

        &--title {
            font-size: 2rem;
            font-weight: 700;
            color: var(--color1);
            margin-bottom: 20px;
        }
        &--name,
            &--email,
            &--message {
                margin-bottom: 15px;

                label {
                    display: block;
                    font-weight: 700;
                    margin-bottom: 5px;
                    color: var(--color1);
                }

                input[type="text"],
                input[type="email"],
                textarea {
                    width: 100%;
                    padding: 8px;
                    border-radius: 5 ;
                    -webkit-border-radius: 5 ;
                    -moz-border-radius: 5 ;
                    -ms-border-radius: 5 ;
                    -o-border-radius: 5 ;
                    &:focus {
                        border-color: var(--color3);
                    }
                }
                textarea {
                    resize: vertical;
                    min-height: 100px;
                }
            }

            &--button {
                text-align: center;

                button {
                    padding: 10px 20px;
                    background-color: var(--color2);
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: var(--color3);
                    }
                }
            }
        
        .meeting {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            .meeting--img {
                width: 25vw;
                height: 30vh;
            }
        }
        
      
           
        }
        @media screen and (max-width: 768px) { //correspond au format tablette
            min-height: auto;
            flex-direction: column;


            .contact__location{
                width: 100%;
            }
            
            .contact__form {
                width: 100%;
                margin-right: 0;
            }
            .meeting {
                margin-top: 20px;
                .meeting--img{

                
                width: 100%;
                height: auto;
            }
        }
    
        

       
             @media screen and (max-width: 480px) { //correspond au format smartphone
            .contact__form--name,
            .contact__form--email,
            .contact__form--message {
                label {
                    font-size: 0.9rem;
                }
            }
    
            .contact__form--button {
                button {
                    font-size: 0.9rem;
                }
            }
        }
                
        

       
    }
}


.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;

    &__exp {
        color: var(--color1);
        font-family: 'Playfair Display', serif;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 2rem;
        h2 {
           
            border: 2px solid var(--color2);
            background-color: var(--color4);
            box-shadow: 0px 4px 8px var(--color7);
            border-radius: 10px;
            padding: 1rem;
            width: auto;
            color: var(--color7);
            text-align: center;
            margin-bottom: 20px;
            font-weight: 800;
            font-size: 2rem;
        }
    
        p {
            font-size: 1rem;
            font-weight: 800;
            text-align: center;
            margin-bottom: 15px;
        }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1.5rem;

        &__card {
            background-color: var(--color6);
            border-radius: 8px;
            padding: 15px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            width: 45%; 
            text-align: center;

            h3 {
              
                color: var(--color1);
                margin-bottom: 10px;
                font-size: 1.2rem;
                font-weight: 600;
               

            }

            img {
                width: auto;
                height: 5rem;
                border-radius: 5px;
                margin-bottom: 10px;
            }

            p {
                text-align: center;
                color: var(--color1);
            }
        }
    }
}
    .selected-category--text {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color1);
        margin-bottom: 20px;
    }
    
    &__title{
        border: 2px solid var(--color2);
            background-color: var(--color4);
            box-shadow: 0px 4px 8px var(--color7);
            border-radius: 10px;
            padding: 1rem;
            font-size: 2rem;
            margin-bottom: 20px;
            color: var(--color7);
            position: relative;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            text-align: center;
    }
   

    &__categories {
        margin-bottom: 20px;
        .skills__categories__list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .skills__categories__list__item {
                margin: 5px;
                button {
                    padding: 10px 15px;
                    background-color: var(--color2);
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    &:hover {
                        background-color: var(--color3);

                    }
                }
            }
        }
    }

    &__languages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__card {
            display: grid;
            grid-template-columns: repeat(4, 1fr); // 4 colonnes
            gap: 20px;

            &__item {
                background-color: var(--color5);
                border: 2px solid var(--color2);
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                text-align: center;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                &:hover {
                    transform: translateY(-5px);
                }
                .langage-icon {
                    max-width: 80px;
                    height: auto;
                    margin-bottom: 15px;
                }
                p {
                    color: var(--color1);
                    font-weight: bold;
                }
            }
        }
    }
    
    .category-icon{
        height:1rem;
        width:1rem;
        margin-right: 5px;
    
    }
    
}

.soft-skill__hobbies {
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;


    .homme {
        display: flex;
        justify-content: center;
        width:20vw;
        &-icon
        {
            width:100%;
            height: 100%;
    }

}

    .soft__skills, .hobbies {
        flex: 1;
        text-align: center;

        .soft__skills__card, .hobbies__card {
            display: grid;
            grid-template-columns: repeat(3, 1fr); // 3 colonnes
            gap: 15px;

            .soft__skills__card__item, .hobbies__card__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background-color: var(--color5);

                .soft__skills-icon, .hobbies-icon {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 1rem;
                    color: var(--color1);
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center; // This will center the child elements

        .soft__skills, .hobbies, .homme {
            width: 100%; // Make each child take the full width
        }
    }
}





.portfolio {
  
    min-height: calc(100vh - 20vh);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
&__head{
justify-content: center;
align-items: center;
text-align: center;
    &--title {
        font-family: 'Playfair Display', serif;
        border: 2px solid var(--color2);
            background-color: var(--color4);
            box-shadow: 0px 4px 8px var(--color7);
            border-radius: 10px;
            padding: 1rem;
            width: auto;
            color: var(--color7);
            text-align: center;
            margin-bottom: 20px;
            font-weight: 800;
            font-size: 2rem;
    }

    .search-bar {
           
        margin-bottom: 20px;

        input {
            width: 100%;
            padding: 10px;
            border: 2px solid var(--color2);
            border-radius: 5px;
            font-size: 1em;

            &:focus {
                outline: none;
                border-color: var(--color3);
            }
        }
    }
}

    .language-buttons {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        button {
            background-color: var(--color2);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            margin: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            display: flex;
            align-items: center;
            .button-icon{
                background-color: #fff;
                border-radius: 10%;
                -webkit-border-radius: 10%;
                -moz-border-radius: 10%;
                -ms-border-radius: 10%;
                -o-border-radius: 10%;
                width: 1.1rem;
                height:1.2rem;
                margin-right: 5px;
}
        }

            &:hover {
                background-color: var(--color3);
                transform: translateY(-2px);
               

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px var(--color4);
            }
        }
    }

    .project-cards {

        display: grid;
        
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;

        .project-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between; // Organise le contenu de manière à répartir l'espace
                background-color: var(--color5);
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s;
        
                &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
                height: 15vh;
                border-radius: 5px;
                margin-bottom: 15px;
            }

            h3 {
                font-family:'Playfair Display', serif ;
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--color1);
                margin-bottom: 10px;
            }

            p {
                font-family: 'Schibsted Grotesk', sans-serif;
                color: var(--color1);
                font-size: 1rem;
                margin-bottom: 15px;
            }

            .github-link {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-top: 15px;
                padding: 10px;
                border-radius: 5px;
                background-color: var(--color2);
                color: white;
                text-decoration: none;
                transition: background-color 0.3s, transform 0.3s;
                -webkit-transition: background-color 0.3s, transform 0.3s;
                -moz-transition: background-color 0.3s, transform 0.3s;
                -ms-transition: background-color 0.3s, transform 0.3s;
                -o-transition: background-color 0.3s, transform 0.3s;
                
                &:hover {
                    background-color: var(--color3);
                    transform: translateY(-2px);
                }

                i {
                    margin-right: 8px;
                }
            }
        }
    }

   
    
        
    // Styles pour tablettes et smartphones
    @media screen and (max-width: 768px) {
        .search-bar {
            width: 70%; // Ajustez la largeur pour les tablettes
        }

        .language-buttons button {
            padding: 5px 10px; // Ajustez la taille des boutons pour les tablettes
            font-size: 0.9em; // Réduisez la taille du texte
        }

        .project-cards {
      
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Ajustez la taille des cartes
        }
    }

    @media screen and (max-width: 480px) {
        .search-bar {
            width: 90%; // Ajustez la largeur pour les smartphones
        }

        .language-buttons button {
            padding: 5px; // Ajustez la taille des boutons pour les smartphones
            font-size: 0.8em; // Réduisez encore plus la taille du texte
        }

        .project-cards {
            grid-template-columns: 1fr; // Une seule colonne pour les smartphones
        }
    }
}
