:root{
    --color1 :#484848;
    --color2 :#839CB5;
    --color3 :#96D7EB;
    --color4 :#B1E1E9;
    --color5 :#F2E4F9;
    
}
* , ::after , ::before{
    box-sizing: border-box;
}
/*@keyframes sert à définir une animation qui sera utilisée par une règle @keyframes.*/
@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header
{
background-color: #484848;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    .nav__logo{
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        margin-left: 1rem;
    }
    .nav__links{
        display:flex;
        justify-content:space-between;
        gap: 5rem;
        align-items:center;
        margin-right: 5rem;
        a{
            color: #fff;
            text-decoration: none;
            margin-left: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
            &:hover{
                color: #ccc;
            }
        }
    }
}

.Logo {
    margin: 1rem;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  
    height: 80vh; // Hauteur du Hero à 80% de la fenêtre de visualisation
    

    .hero__content {
        background-color: #f5f5f5; // Choisir une couleur de fond appropriée
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px; // Ajustez selon votre design
        width: 100%;
        border: 2px solid var(--color1);
        box-shadow: 0px 0px 10px var(--color2);
        border-radius: 15px;
  

        .hero__img {
            flex: 1;
            padding: 20px;

            .hero__img--content {
                width: 100%;
                height: auto;
                border-radius: 10px; 
            }
        }

        .hero__info {
            flex: 2;
            padding: 20px;
            text-align: left;

            .hero__info--title {
                font-size: 3rem;
                margin-bottom: 10px;

                .hero__title--name {
                    color: #007bff; 
                }
            }

            .hero__info--subtitle {
                font-size: 1.5rem;
                color: #333; 
                margin-bottom: 20px;
                font-style: italic;
            }

            .hero__info--text {
                font-size: 1.5rem;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .hero__info__contact {
                justify-content: center;
                align-items: center;
                p {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    font-size: 1rem;

                    i {
                        font-size: 2rem;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.about {
    display: flex;
    background-color: #f5f5f5;
    gap:2rem;
    justify-content: center;
    align-items: center;
   

    .about__content {
       
        margin-left:15%;
        width: 50%;
       
    }

    .about__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    .about__text {
       
        width: 70%;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 3rem;;
    }

    .about__content--project {
        display: flex;
        width:50%;
        justify-content: space-evenly;
    
        
        i {
            align-items: center;
            font-size: 2rem;
        }

        p {
           
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 1rem;
        }
    }

    .about__langage {
        width: 50%;
        margin-right:15%;

        p {
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 1rem;
        }

        .about__langage--content--html--line,
        .about__langage--content--css--line,
        .about__langage--content--js--line,
        .about__langage--content--react--line,
        .about__langage--content--php--line,
        .about__langage--content--sql--line {
            width: 60%;
            height: 20px; // Hauteur de la barre de progression
            background-color: #f5f5f5; // Couleur de fond de la barre
            border: 1px solid #000; // Bordure noire
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative; // Nécessaire pour positionner le remplissage
            border-radius: 10px; // Coins arrondis


            &:after {
                content: '';
                position: absolute;
                top: 1px; // Ajuster en fonction de l'épaisseur de la bordure
                left: 1px; // Ajuster en fonction de l'épaisseur de la bordure
                height: 18px; // Ajuster en fonction de la hauteur totale de la barre
                background-color: #000; // Couleur de remplissage de la barre
                width: 0%; // Définir la largeur initiale
            }


        }
        .about__langage--content--html--line:after,
.about__langage--content--css--line:after,
.about__langage--content--js--line:after,
.about__langage--content--react--line:after,
.about__langage--content--php--line:after,
.about__langage--content--sql--line:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    height: 18px;
    border-radius: 10px;
    background: linear-gradient(-45deg, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5));
    background-size: 200% 200%;
    animation: animatedGradient 8s ease infinite;
    -webkit-animation: animatedGradient 8s ease infinite;
}

        .about__langage--content--html--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 90%;
            border-radius: 10px;
}

        .about__langage--content--css--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 80%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

        }

        .about__langage--content--js--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 75%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .about__langage--content--react--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 75%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .about__langage--content--php--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 70%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .about__langage--content--sql--line:after {
            transform: translateY(-1px);
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            width: 80%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }

}


.footer
{
   position: sticky;
   bottom: 0;
   display: flex;
    justify-content: space-between;
    background-color: #484848;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;

   }


.reserved
{
    background-color: #484848;
    color: #fff;
    text-align:end;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
    
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 1rem;
    background-color: var(--color5);
    height: 80vh;
    img{
        width: 18rem;
        height: 20rem;
    }
    

    .contact__location {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        margin-right: 20px;
        gap: 1rem;
        height : 100%;
       
        iframe {
            width: 80%;
            height: 19rem;
            border-radius: 10px;
            border: none;
        }

        .contact__location--title {
            font-size: 2rem;
            font-weight: 700;
            color: var(--color1);
            margin-top: 20px;
        }

        .contact__location--info {
            p {
                font-weight: 700;
                color: var(--color2);
                margin: 5px 0;

            }
        }
    }

    .contact__form {
        flex: 1;
        max-width: 600px;
        background-color: var(--color4);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
        .contact__form--title {
            font-size: 2rem;
            font-weight: 700;
            color: var(--color1);
            margin-bottom: 20px;
        }
        .contact__form--name,
        .contact__form--email,
        .contact__form--message {
            margin-bottom: 15px;

            label {
                display: block;
                font-weight: 700;
                margin-bottom: 5px;
                color: var(--color1);
            }

            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                padding: 8px;
                border-radius: 5px;
                border: 1px solid var(--color2);
                outline: none;

                &:focus {
                    border-color: var(--color3);
                }
            }

            textarea {
                resize: vertical;
                min-height: 100px;
            }
        }

        .contact__form--button {
            text-align: center;

            button {
                padding: 10px 20px;
                background-color: var(--color2);
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: var(--color3);
                }
            }
        }
    }
}
.meeting
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  
    img{
        width: 25vw;
        height: 30vh;
    }
   
}


@media (max-width: 768px) {
    .contact {
        flex-direction: column;

        .contact__location,
        .contact__form {
            margin-right: 0;
            max-width: 100%;
        }
    }
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;

    &__categories {
        margin-bottom: 20px;
        .skills__categories__list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .skills__categories__list__item {
                margin: 5px;
                button {
                    padding: 10px 15px;
                    background-color: var(--color2);
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    &:hover {
                        background-color: var(--color3);
                    }
                }
            }
        }
    }

    &__languages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .skills__languages__card {
            display: grid;
            grid-template-columns: repeat(4, 1fr); // 4 colonnes
            gap: 20px;

            .skills__languages__card__item {
                background-color: var(--color5);
                border: 2px solid var(--color2);
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                text-align: center;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                &:hover {
                    transform: translateY(-5px);
                }
                .langage-icon {
                    max-width: 80px;
                    height: auto;
                    margin-bottom: 15px;
                }
                p {
                    color: var(--color1);
                    font-weight: bold;
                }
            }
        }
    }
}

.soft-skill__hobbies {
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;


    .homme {
        display: flex;
        justify-content: center;
        width:20vw;
    }
   .homme-icon
{
    width:100%;
    height: 100%;
}

    .soft__skills, .hobbies {
        flex: 1;
        text-align: center;
       

        .skills_title {
            font-size: 2rem;
            margin-bottom: 20px;
            color: var(--color2);
            position: relative;
            &::before, &::after {
                content: '';
                position: absolute;
                top: 50%;
                width: 20px; // Largeur de la bulle
                height: 20px; // Hauteur de la bulle
                background-color: var(--color2); // Couleur de la bulle
                border-radius: 50%; // Rend la bulle ronde
                transform: translate(-50%, -50%);
            }

            &::before {
                left: -30px; // Position de la première bulle
            }

            &::after {
                left: calc(100% + 10px); // Position de la seconde bulle
            }
        }

        .soft__skills__card, .hobbies__card {
            display: grid;
            grid-template-columns: repeat(3, 1fr); // 3 colonnes
            gap: 15px;

            .soft__skills__card__item, .hobbies__card__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background-color: var(--color5);

                .soft__skills-icon, .hobbies-icon {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 1rem;
                    color: var(--color1);
                }
            }
        }
    }
}



@media (max-width: 768px) {
    .skills__languages .skills__languages__card {
        grid-template-columns: repeat(2, 1fr);
    }

}



.portfolio {
  
    min-height: calc(100vh - 20vh);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  

    .search-bar {
        width: 50%;    
        margin-bottom: 20px;

        input {
            width: 100%;
            padding: 10px;
            border: 2px solid var(--color2);
            border-radius: 5px;
            font-size: 1em;

            &:focus {
                outline: none;
                border-color: var(--color3);
            }
        }
    }

    .language-buttons {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        button {
            background-color: var(--color2);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            margin: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;

            &:hover {
                background-color: var(--color3);
                transform: translateY(-2px);
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px var(--color4);
            }
        }
    }

    .project-cards {

        display: grid;
        
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;

        .project-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between; // Organise le contenu de manière à répartir l'espace
                background-color: var(--color5);
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s;
        
                &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
                height: 15vh;
                border-radius: 5px;
                margin-bottom: 15px;
            }

            h3 {
                color: var(--color1);
                margin-bottom: 10px;
            }

            p {
                color: var(--color1);
                font-size: 0.9em;
                margin-bottom: 15px;
            }

            .github-link {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-top: 15px;
                padding: 10px;
                border-radius: 5px;
                background-color: var(--color2);
                color: white;
                text-decoration: none;
                transition: background-color 0.3s, transform 0.3s;
                -webkit-transition: background-color 0.3s, transform 0.3s;
                -moz-transition: background-color 0.3s, transform 0.3s;
                -ms-transition: background-color 0.3s, transform 0.3s;
                -o-transition: background-color 0.3s, transform 0.3s;
                
                &:hover {
                    background-color: var(--color3);
                    transform: translateY(-2px);
                }

                i {
                    margin-right: 8px;
                }
            }
        }
    }
}
